.event-list{
    border:1px  solid gray;
    width:100%;
}

.info-name{
    width:15%;
    text-align: start;
}
.info p{
    font-weight: bold;
}
.info h6{
    font-weight:bolder;
    font-size: 20px;
}
.info-email{
    width:30%;
    text-align: start;
}
.info-city{
    width:10%;
    text-align: start;
}
.info-phone{
    width:15%;
    text-align: start;
}
.info-address{
    width:15%;
    text-align: start;
}
.delete{
    width:15%;
    text-align: center;
}
.delete-button{
    border:none;
   
}
