.pagination{
    margin:30px;
}
.pagination button{
    margin-right: 20px;
    padding:0px 10px;
    border:orange ;
    border-radius: 15px;
}
.pagination .selected{
    background-color: orange;
    color:white;
}